@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --font-ja: "Noto Sans JP", sans-serif;
  --font-en: "Ubuntu", sans-serif;
}
.app {
  font-family: var(--font-ja);
  line-height: 2;
  color: #333;
  letter-spacing: 0.03em;
}
